.container {
    width: 900px;
    margin: auto;
    text-align: center;
    margin-top: 5%;

}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.kreditBee {
    width: 90px;
    height: 20px;
    margin-right: 150px;
}

nav>li {
    list-style: none;
}

.wishlist {
    width: 28px;
    height: 20px;
}

button {
    padding: 10px;
    font-weight: bold;
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.main {
    width: 230px;
    height: 150px;
    margin: auto;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main>img {
    width: 50px;
    margin-left: -70%;
    margin-top: 10px;

}

.main>p {
    font-size: x-small;
    text-align: left;
    padding: 10px;
    margin-top: -5px;
}

.containt {
    display: flex;
}

.blog {
    width: 250px;
    height: 330px;
    margin: auto;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.blog>img {
    width: 250px;
    height: 200px;

}

.blog>p {
    font-size: small;
    padding: 10px;
    margin-top: -15px;
}

.blog>h4 {
    margin-top: -20px;
    margin-bottom: 10px;
    padding: 10px;
}

h3 {
    margin-left: -74%;
}

.footer {
    width: 900px;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(246, 218, 116);
    align-content: center;
}

.form {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-top: 5px;
    padding: 10px;
    background-color: white;
   
    
}

.form>h3{
    text-align: center;
    margin-left: 1px;
}

.form>p>b{
    font-weight: lighter;
    color: rgb(70, 70, 236);
}

.form>p{
    font-size: small;
    text-align: center;
    
}

.form>input {
    width: 240px;
    height: 25px;
    border: 1px solid rgba(99, 99, 99, 0.2);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#submit {
    background-color: rgb(52, 52, 246);
    color: white;
}

.copyright {
    background-color: black;
    color: white;
    height: 50px;
    align-content: center;
}
